<div class="new-design signup-wrapper" style="background: var(--secondary-color);">
    <div class="signup-card">
        <h2>Seller Sign-Up</h2>
        <p class="description">Create your account to start selling today!</p>

        <form (ngSubmit)="onSubmit(sellerForm.value)" #sellerForm="ngForm">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" [(ngModel)]="seller.name" name="name" class="form-control" id="name"
                    placeholder="Your Name" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" [(ngModel)]="seller.email" name="email" class="form-control" id="email"
                    placeholder="name@example.com" required>
            </div>

            <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" [(ngModel)]="seller.password" name="password" class="form-control" id="password"
                    placeholder="Enter password" required>
            </div>

            <div class="d-grid mb-3">
                <button type="submit" [disabled]="sellerForm.invalid" class="btn btn-primary btn-lg">
                    Sign Up
                </button>
            </div>

            <p class="text-center">
                Already have an account?
                <a class="btn btn-sm btn-outline-success" routerLink="/login" style="text-decoration: none;">
                    Log in
                </a>
            </p>

            <p class="text-center text-danger">{{authError}}</p>
        </form>
    </div>
</div>